.field.server-timestamp(title='Client Timestamp: {{clientTimestamp}}') {{serverTimestamp}}
.field.application(title='{{application}}') {{application}}
.field.severity(title='{{severity}}') {{severity}}
.field.host(title='{{host}}') {{host}}
.field.context(title='{{context}}') {{context}}
.field.message(title='{{message}}') {{message}}
