extends layout

block content
	h1= title
block page-scripts
	// view templates
	script#sample-log-message-form-template(type='text/x-handlebars-template')
		.modal-header
			h2 Create a sample log message
		.modal-body
			form.form-horizontal
				.control-group
					label.control-label(for="application") Application
					.controls
						input#application(type="text", value="{{application}}")
				.control-group
					label.control-label(for="host") Host
					.controls
						input#host(type="text", value="{{host}}")
				.control-group
					label.control-label(for="context") Context
					.controls
						input#context(type="text", value="{{context}}")
				.control-group
					label.control-label(for="severity") Severity
					.controls
						input#severity(type="text", value="{{severity}}")
				.control-group
					label.control-label(for="clientTimestamp") Timestamp
					.controls
						input#clientTimestamp(type="text", value="{{clientTimestamp}}")
				.control-group
					label.control-label(for="message") Message
					.controls
						input#message(type="text", value="{{message}}")
				.control-group
					label.control-label(for="payload") Payload
					.controls
						textarea#payload(value="{{payload}}")
		.modal-footer
			a#close.btn Close
			a#save.btn.btn-primary Save
	// third party scripts/libraries
	script(src='/javascripts/lib/underscore-min.js')
	script(src='/javascripts/lib/backbone-min.js')
	script(src='/javascripts/lib/handlebars.js')
	script(src='/javascripts/lib/moment.js')
	// app-specific scripts
	script(src='/javascripts/yarder.js')
	script(src='/javascripts/routers.js')
	script(src='/javascripts/views.js')
	script(src='/javascripts/routers.js')
	script(src='/javascripts/collections.js')
	script(src='/javascripts/models.js')
	script(src='/javascripts/start.js')
