extends layout

block content
	h1= title
block page-scripts
	script(src='/javascripts/underscore-min.js')
	script(src='/javascripts/backbone-min.js')
	script(src='/javascripts/handlebars.js')
	script(src='/javascripts/moment.js')
